{# Print out all the configuration options #}
{{ nrinfragent_config | to_nice_yaml }}

{# For backward compatibility, the license key will be written if it is defined #}
{% if nrinfragent_license_key is defined %}
license_key: {{ nrinfragent_license_key }}
{% endif %}

{% if nrinfragent_config.custom_attributes is defined %}
custom_attributes:
{%- for dict_item in nrinfragent_config.custom_attributes %}
{%- for key, value in dict_item.items() %}
  {{ key }}: {{ value }}
{%- endfor -%}
{% endfor -%}
{% endif -%}
